* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(43, 43, 43);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  margin-bottom: 10px;
}

.game-box {
  width: 500px;
  height: 500px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.guesses {
  width: 300px;
  height: 60px;
  border: 2px solid white;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.guess1,
.guess2,
.guess3,
.guess4,
.guess5 {
  border: 2px solid white;
}

.letter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
